<div class="container">
    <h1>Fampiasana angular</h1>
    <img width="100px" alt="Angular Logo" src="favicon.ico">
    <br><br>


    <!-- insertion du composant "utilisateur" -->
    <app-utilisateur></app-utilisateur>
    <br><br>


    <!-- lister les appareil -->
    <div class="row">
        <div class="col-xs-12">
            <h2>Ireo fitaovana mandeha courant</h2>
            <ul class="list-group">

                <!-- insertion du composant "fitaovana" dans un liste -->
                <app-fitaovana [anaranaFit]="fit1" [toetraFit]="'velona'"></app-fitaovana>
                <app-fitaovana [anaranaFit]="fit2" [toetraFit]="'maty'"></app-fitaovana>
                <app-fitaovana [anaranaFit]="fit3" [toetraFit]="'velona'"></app-fitaovana>
            </ul>
            <br>
            <!-- liaison par propriété [ ] -->
            <!-- liaison par evenement ( ) -->
            <button class="btn btn-success" [disabled]="!mahazoLalana" (click)="onVelomina()"> Velomina daholo</button>
        </div>
    </div>


</div>